.secondary-button  
  width: 212px 
  height: 56px 
  text-align: center 
  font-weight: 500 
  font-size: 16px 
  line-height: 24px 
  background-color: rgb(255, 255, 255) 
  color: rgb(142, 67, 237) 
  cursor: pointer 
  border-radius: 12px 
  border-width: 1px 
  border-style: solid 
  border-color: rgb(142, 67, 237) 
  border-image: initial 
  &:hover
    background-color: #FAF8FE
  &:focus
    background-color: #F0E5FE
  &_disabled
    background-color: #DED9E4
    &:focus
      background-color: #DED9E4
    &:hover
      background-color: #DED9E4